<!DOCTYPE html>
<html lang = "ro">
    <head>
        <title>Gaming & Hardware</title>
        <meta name = "keywords" content = "jocuri, gaming, PC, PS5, XBOX">
        <meta name = "description" content = "Jocuri digitale si accesorii.">

        <%- include("../fragmente/head.ejs") %>
    </head>
    <body>
        <%- include("../fragmente/header.ejs") %>

        <main>
            <div id = "grid-initial">
                <section id = "welcome">
                    <h2>Bine ați venit!</h2>
                    <p>IP: <%- locals.IP %></p>
                </section>
                <section id = "jocuri">
                    <h2>Jocuri</h2>
                    <p>Indiferent dacă ești pasionat de <b>gaming</b> pe <b>PC</b>, <b><abbr title="PlayStation 5">PS5</abbr></b> sau <b>XBOX</b>,
                        ai la dispoziție o gamă variată de <b>jocuri</b> din toate genurile – de la acțiune și aventură până la strategie și <i>RPG</i>. Descoperă
                        cele mai noi <b>jocuri</b> video cu grafică uimitoare, povești captivante și gameplay inovator. Fie că vrei să explorezi lumi deschise
                        imersive, să concurezi în curse intense sau să îți testezi abilitățile în shootere multiplayer, aici găsești tot ce ai nevoie
                        pentru o experiență de gaming de neuitat.</p>
                    <details>
                        <summary>Ce este un RPG?</summary>
                        <p>RPG (Role-Playing Game) este un tip de joc în care jucătorii își asumă rolul unui personaj sau al unui grup de personaje,
                            într-o lume virtuală. RPG-urile sunt caracterizate prin dezvoltarea personajului, luarea de decizii care afectează povestea
                            și adesea, explorarea unor lumi mari.</p>
                    </details>
                    <details>
                        <summary>Ce înseamnă "Open World"?</summary>
                        <p>Un joc Open World este un joc video care permite jucătorilor să exploreze un mediu vast și deschis, fără a fi restricționați
                            de un drum sau de o direcție impusă de joc. Jucătorii pot alege ce să facă, unde să meargă și cum să interacționeze cu lumea jocului.</p>
                    </details>
                </section>
                <section id = "dlc">
                    <h2>DLC-uri</h2>
                    <p>Extinde-ți experiența de <b>gaming</b> cu cele mai recente DLC-uri pentru <b>PC</b>, <b><abbr title="PlayStation 5">PS5</abbr></b> și <b>XBOX</b>!
                        Descoperă conținut suplimentar pentru <b>jocurile</b> tale preferate, de la expansiuni care adaugă noi misiuni și povești, până
                        la skin-uri exclusive, hărți, arme și personaje noi. Indiferent dacă vrei să explorezi noi teritorii într-un <i>RPG</i>, să deblochezi
                        conținut premium într-un shooter sau să accesezi noi moduri de joc într-un titlu multiplayer, DLC-urile îți oferă posibilitatea
                        de a prelungi distracția și de a experimenta <b>jocurile</b> într-un mod unic.</p>
                    <details>
                        <summary>Ce sunt DLC-urile?</summary>
                        <p>DLC (Downloadable Content) reprezintă conținut suplimentar pentru jocuri, care poate fi descărcat pentru a extinde jocul
                            inițial cu noi misiuni, personaje, hărți sau obiecte.</p>
                    </details>
                </section>
                <section id = "hardware">
                    <h2>Hardware & Accesorii</h2>
                    <p>Pentru o experiență de <b>gaming</b> de top, ai nevoie de hardware performant și accesorii de calitate. Fie că joci pe <b>PC</b>,
                        <b><abbr title="PlayStation 5">PS5</abbr></b> sau <b>XBOX</b>, componentele potrivite pot face diferența dintre un gameplay fluid
                        și unul cu întreruperi. Descoperă cele mai noi placi video, procesoare, memorii RAM și SSD-uri pentru a-ți îmbunătăți sistemul.</p>
                    <details>
                        <summary>Cum se calculeaza frecventa unui procesor?</summary>
                        <math>
                            <mrow>
                                <mi class = "bold-text">Frecvență</mi>
                                <mo>=</mo>
                                <mi class = "italic-text">Cicluri</mi>
                                <mo>/</mo>
                                <mi class = "italic-text">Secundă</mi>
                            </mrow>
                        </math>
                    </details>
                </section>
                <div id = "img-red-dead">
                    <figure>
                        <picture>
                            <img src = "/resources/img/red_dead_small.png" alt = "red_dead_img">
                        </picture>
                        <figcaption>O imagine din jocul "Red Dead Redemption 2".</figcaption>
                    </figure>
                </div>
                <div id = "trailers-red-dead">
                    <div class = "trailers-tabs">
                        <a href="https://www.youtube.com/embed/gmA6MrX81z4" target="videoIframe">Trailer 1 RDR 2</a>
                        <a href="https://www.youtube.com/embed/F63h3v9QV7w" target="videoIframe">Trailer 2 RDR 2</a>
                    </div>
                    <iframe id = "video" name="videoIframe" width="500" height="300" src="https://www.youtube.com/embed/gmA6MrX81z4"></iframe>
                </div>
                <div id = "pdf-red-dead">
                    <embed id = "pdfdiv-red-dead" src="/resources/pdf/rdr2.pdf" type="application/pdf" width="400" height="300">
                </div>
                <div id = "console-map">
                    <figure>
                        <picture>
                            <img src="/resources/img/gaming.png" usemap="#consolemap" width="600" height="400" alt="Consoles Map">
                        </picture>
                        <figcaption>Consoles Map.</figcaption>
                    </figure>
                    <map name="consolemap">
                        <area shape="rect" coords="0,0,260,400" href="https://www.playstation.com" alt="PlayStation" target="_blank">
                        <area shape="rect" coords="261,0,520,400" href="https://www.steampowered.com" alt="PC Gaming" target="_blank">
                        <area shape="rect" coords="521,0,800,400" href="https://www.xbox.com" alt="Xbox" target="_blank">
                    </map>
                </div>
            </div>
            <div id = "game-sales">
                <h2>Vânzări Jocuri Populare</h2>
                <div class = "table-container">
                    <table>
                        <caption>Statistici de vânzări pentru jocurile populare</caption>
                        <thead>
                        <tr>
                            <th>Joc</th>
                            <th>Platforme</th>
                            <th colspan="2">Detalii Vânzări</th>
                        </tr>
                        <tr>
                            <th></th>
                            <th></th>
                            <th>Copii vândute (mil.)</th>
                            <th>Data lansării</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Grand Theft Auto V</td>
                            <td>PC, PS3, PS4, PS5, Xbox 360, Xbox One, Xbox Series X/S</td>
                            <td>185</td>
                            <td>17 septembrie 2013</td>
                        </tr>
                        <tr>
                            <td>Red Dead Redemption 2</td>
                            <td>PC, PS3, PS4, PS5, Xbox 360, Xbox One, Xbox Series X/S</td>
                            <td>61</td>
                            <td>26 octombrie 2018</td>
                        </tr>
                        <tr>
                            <td>The Witcher 3: Wild Hunt</td>
                            <td>PC, PS4, PS5, Xbox One, Xbox Series X/S, Nintendo Switch</td>
                            <td>50</td>
                            <td>19 mai 2015</td>
                        </tr>
                        <tr>
                            <td>Cyberpunk 2077</td>
                            <td>PC, PS4, PS5, Xbox One, Xbox Series X/S</td>
                            <td>25</td>
                            <td>10 decembrie 2020</td>
                        </tr>
                        <tr>
                            <td>Minecraft</td>
                            <td>Toate platformele</td>
                            <td>300</td>
                            <td>18 noiembrie 2011</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="video-container">
                <video  controls
                        preload = "auto"
                        poster="/resources/img/red_dead_poster.jpg"
                        class="responsive-video">
                        <source src="/resources/video/red_dead_trailer.mp4" type="video/mp4">
                        <source src="/resources/video/red_dead_trailer.webm" type="video/webm">
                        <track
                                src="/resources/video/red_dead_ro.vtt"
                                kind="subtitles"
                                srclang="ro"
                                label="Română"
                                default>
                        <track
                                src="/resources/video/red_dead_en.vtt"
                                kind="subtitles"
                                srclang="en"
                                label="English">
                </video>
            </div>
            <section id="galerie-statica">
                <h2>Galerie</h2>
                <div id="grid-galerie">
                    <%
                    vect_luni = ["ianuarie", "februarie", "martie", "aprilie", "mai", "iunie", "iulie", "august", "septembrie",
                                 "octombrie", "noiembrie", "decembrie"]
                    d = new Date()
                    luna_curenta = vect_luni[d.getMonth()]

                    for (let imag of locals.imagini) { %>
                        <% if (imag.luni && imag.luni.includes(luna_curenta)) { %>
                            <picture>
                                <source srcset="<%- imag.fisier_mediu %>" media="screen and (max-width:1000px)"></source>
                                <img src="<%- imag.fisier %>" alt="briose">
                            </picture>
                        <% } %>
                    <% } %>

<!--                    <figure>-->
<!--                        <img src="/resources/img/briose-frisca.png" alt="briose">-->
<!--                        <figcaption>Briose</figcaption>-->
<!--                    </figure>-->
<!--                    <figure>-->
<!--                        <img src="/resources/img/briose-frisca.png" alt="briose">-->
<!--                        <figcaption>Briose</figcaption>-->
<!--                    </figure>-->
<!--                    <figure>-->
<!--                        <img src="/resources/img/briose-frisca.png" alt="briose">-->
<!--                        <figcaption>Briose</figcaption>-->
<!--                    </figure>-->
<!--                    <figure>-->
<!--                        <img src="/resources/img/briose-frisca.png" alt="briose">-->
<!--                        <figcaption>Briose</figcaption>-->
<!--                    </figure>-->
<!--                    <figure>-->
<!--                        <img src="/resources/img/briose-frisca.png" alt="briose">-->
<!--                        <figcaption>Briose</figcaption>-->
<!--                    </figure>-->
<!--                    <figure>-->
<!--                        <img src="/resources/img/briose-frisca.png" alt="briose">-->
<!--                        <figcaption>Briose</figcaption>-->
<!--                    </figure>-->
<!--                    <figure>-->
<!--                        <img src="/resources/img/briose-frisca.png" alt="briose">-->
<!--                        <figcaption>Briose</figcaption>-->
<!--                    </figure>-->
                </div>
            </section>
        </main>
    <%- include("../fragmente/footer.ejs") %>
    </body>
</html>
